# requirements *for development*!
igbpyutils == 1.0.0
simple-perms == 1.0.0 ; sys_platform != 'win32'
coverage[toml] == 7.12.0
coverage-simple-excludes == 1.1.1
pylint == 4.0.4
mypy == 1.19.0
flake8 == 7.3.0
Flake8-pyproject == 1.2.4
pur == 7.3.3
build == 1.3.0 ; sys_platform == 'linux'
twine == 6.2.0 ; sys_platform == 'linux'
# for this project:
py7zr == 1.0.0 ; python_version < "3.14"  # see tests/defs.py for details; remember to update version in pyproject.toml too
