# requirements *for development*!
igbpyutils == 0.8.0
simple-perms == 1.0.0 ; sys_platform != 'win32'
coverage[toml] == 7.11.3
coverage-simple-excludes == 1.1.0
pylint == 4.0.3
mypy == 1.18.2
flake8 == 7.3.0
Flake8-pyproject == 1.2.3
pur == 7.3.3
build == 1.3.0 ; sys_platform == 'linux'
twine == 6.2.0 ; sys_platform == 'linux'
# for this project:
#TODO: why the restriction to <3.13 on non-win32? (see also coverage markers)
py7zr == 1.0.0 ; sys_platform != 'win32' or python_version < "3.13"
